<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="device-width" />
        <title>SportStore</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>