@model Product

 <div class="card">
        <div class="card-body">
                <h4 class="card-title">@Model.Name
                        <span class="badge badge-primary float-right">@Model.Price.ToString("c")</span>
                </h4>
                <p class="card-text">@Model.Description</p>
        </div>
</div>
<p></p>